.navbar-default {
	background-color: #0e8080 !important;
	height: 80px;
}
.color-default{
	color: #ffffff !important;
}
a {
	cursor: pointer;
}
.header-icons {
	display: flex;
	width: 100px;
	margin-top: 0.46rem;
}
.header-icons-a i{
	color: #fff;
}