.navbar-default {
	background-color: #0e8080 !important;
	height: 80px;
}
.color-default{
	color: #ffffff !important;
}
.header-icons {
	display: flex;
	width: 80px;
	margin-top: 0.1rem;
	cursor: pointer;
}
.header-icons-a i{
	color: #fff;
}