

<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-default">
    <a class="color-default" href="#">Navbar</a>
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active color-default" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-default" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle color-default" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item color-default" href="#">Action</a></li>
                        <li><a class="dropdown-item color-default" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item color-default" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled color-default" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div class="header-icons">
            <a class="header-icons-a">
                <i class="bi bi-person h1"></i>
            </a>
            <a class="header-icons-a ml-2">
                <i class="bi bi-list h1"></i>
            </a>
            </div>
        </div>
    </div>
</nav>