<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ControleFinanceiro.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleFinanceiro.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GerAllStyle/GetAll.css" />
    <link rel="stylesheet" href="~/css/menu-principal.css" />

</head>
<body>
    <header>

        <div class="header">

            <div class="logo">

                <div class="logo-img"></div>

            </div>

            <div class="titulo-modulo">
                titulo
            </div>

            <div class="modulos-menu">

                <div class="usuario">
                    Usuário
                </div>

                <div class="modulos">

            <img id="icon-suspenso" class="img-menu" src="~/icones/menu.png" /> 

                    <nav class="menu-nav">
                        <ul>
                            <li>
                                <a href="#" id="cadastro">Cadastro</a>
                            </li>

                            <li>
                                <a href="#">Administrativo</a>
                            </li>

                            <li>
                                <a href="#">Financeiro</a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div>
        </div>

        <aside class="navigation" id="navigator">
            <section>
                <h1 class="funcionalidade">Funcionalidades</h1>
                <ul>
                    <!--Menu lateral-->
                </ul>  

            </section>
        </aside>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer-gms text-muted">
        <div class="container">
            &copy; 2023 - ControleFinanceiro.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu-suspenso.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
