<div>
        <ul>
            <li>
            <!--Título do menu-->
                Cadastro
                <ul>
                    <li>Despesa
                        <ul>
                            <li>
                                Nossas despesas
                            </li>
                        </ul>
                    </li>
                    <li>Receita
                        <ul>
                            <li>
                                Nossas receitas
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>