@model ControleFinanceiro.Service.ServiceEntity.DespesaService
@{
    ViewData["Title"] = "ConsultDespesa";
}
<div class="modal fade" id="consultModal_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="consultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <form class="needs-validation" asp-action="ConsultDespesa">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="modal-header">
                            <h5 class="title-lable-dizimista"> Consultar Despesa </h5>
                            <a asp-action="GetAllDespesa" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar">
                            </a>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="descricao" class="control-label title-lable-dizimista">Descrição</label>
                                    <input asp-for="descricao" class="form-control" readonly />
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="periodo" class="control-label title-lable-dizimista">Período</label>
                                    <input asp-for="periodo" class="form-control" readonly />
                                    <span asp-validation-for="periodo" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="valor" class="control-label title-lable-dizimista">Valor</label>
                                    <input asp-for="valor" class="form-control" readonly />
                                    <span asp-validation-for="valor" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <hr />
                            <div>

                                <div class="form-group form-inline">
                                    <div>
                                        <a class=" btn btn-info" data-bs-dismiss="modal">Voltar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>