
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <div class="card card-custom">

                <form id="frmDespesa">
                    <div class="card-body">

                        <br />
                        <h2 class="text-dark font-weight-bold">Dados da Despesa</h2>
                        <hr /> <br />

                        <div class="row form-group">

                            <div class="col-4">
                                <label>Descrição</label>
                                <input class="form-control readOnly" type="text" name="descricao" />
                            </div>

                            <div class="col-4">
                                <label>Período</label>
                                <input name="periodo" class="form-control btnaction readOnly" type="date" />
                            </div>

                            <div class="col-4">
                                <label>Valor (R$)</label>
                                <input name="valor" class="form-control btnaction readOnly" type="text" data-inputmask="'alias': 'currency', 'prefix': '', 
                                'groupSeparator': '.', 'radixPoint': ',', 'digits': 2" placeholder="(R$): " />
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button id="btnSalvar" type="button" class="btn btn-success btnHide"><i class="far fa-save"></i>Salvar</button>
                        <a href="@Url.Action("GetAllDespesa", "Despesa")" class="btn btn-text-danger btn-hover-light-danger font-weight-bold mr-2 voltar">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/Despesa/AdicionarDespesa.js"></script>

}


